-
  var reviewsCards = [
    {
      name: 'Антон Казанов',
      post: 'Консультация автоюриста ',
      text: 'Очень довольны компетентным и профессиональным персоналом Вашей фирмы, который занимается отгрузкой необходимой нам продукции всегда быстро и оперативно.Желаем производственных успехов, экономического и финансового благополучия,',
      avatar: 'images/reviews-card-1.jpg',
      line: 'images/reviews-line.svg',
    },
    {
      name: 'Виктория Тручкова',
      post: 'Консультация по недвижимости ',
      text: 'Мы очень благодарны, в дальнейшем с  расширением склада,мы обязательно обратимся  в Вашу компанию',
      avatar: 'images/reviews-card-2.jpg',
      line: 'images/reviews-line.svg',
    },
    {
      name: 'Светлана Ильиных',
      post: 'Консультация по бракоразводному процессу',
      text: 'Работать с компанией "Классика права" понравилось. Особенно хочется отметить работу менеджера Коноровой Татьяны, которая в процессе сотрудничества компетентно решала поставленные задачи.',
      avatar: 'images/reviews-card-3.jpg',
      line: 'images/reviews-line.svg',
    },
    {
      name: 'Антон Казанов',
      post: 'Консультация автоюриста ',
      text: 'Очень довольны компетентным и профессиональным персоналом Вашей фирмы, который занимается отгрузкой необходимой нам продукции всегда быстро и оперативно.Желаем производственных успехов, экономического и финансового благополучия,',
      avatar: 'images/reviews-card-1.jpg',
      line: 'images/reviews-line.svg',
    },
    {
      name: 'Виктория Тручкова',
      post: 'Консультация по недвижимости ',
      text: 'Мы очень благодарны, в дальнейшем с  расширением склада,мы обязательно обратимся  в Вашу компанию',
      avatar: 'images/reviews-card-2.jpg',
      line: 'images/reviews-line.svg',
    },
    {
      name: 'Светлана Ильиных',
      post: 'Консультация по бракоразводному процессу',
      text: 'Работать с компанией "Классика права" понравилось. Особенно хочется отметить работу менеджера Коноровой Татьяны, которая в процессе сотрудничества компетентно решала поставленные задачи.',
      avatar: 'images/reviews-card-3.jpg',
      line: 'images/reviews-line.svg',
    },
  ]

section.reviews 
  .container
    .reviews__header 
      h2.reviews__header-title Отзывы и оценки наших клиентов 
      span.reviews__header-description Вы можете оставить отзывы о нашей компании
    .reviews__container
      .reviews__cards.reviews-swiper.swiper-container
        .swiper-wrapper
          each item in reviewsCards
            .swiper-slide.reviews__card
              .reviews__card-inner
                img.reviews__card-avatar(src=`${item.avatar}`, alt="Avatar")
                .reviews__card-wrapper
                  span.reviews__card-name= item.name
                  span.reviews__card-post= item.post
              img.reviews__card-line(src=`${item.line}`, alt="Line")
              p.reviews__card-text= item.text
        .swiper-pagination--reviews
      .swiper-button-prev.swiper-button-prev--reviews.button__slider
        svg(width="53" height="98" viewBox="0 0 53 98" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__slider-img")
          path(d="M1.10426 51.9911L45.8585 96.6216C47.3249 98.083 49.6989 98.0806 51.1627 96.6141C52.6255 95.1477 52.6217 92.7724 51.1552 91.3099L9.0648 49.3357L51.1567 7.36178C52.623 5.89905 52.6268 3.52523 51.1642 2.05872C50.4304 1.32357 49.4691 0.955993 48.5077 0.955993C47.5488 0.955993 46.5912 1.32111 45.8587 2.05115L1.10426 46.6805C0.398034 47.3832 0.00173237 48.3394 0.00173229 49.3357C0.0017322 50.332 0.399166 51.2872 1.10426 51.9911Z" )
      .swiper-button-next.swiper-button-next--reviews.button__slider
        svg(width="53" height="98" viewBox="0 0 53 98" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__slider-img")
          path(d="M51.8967 46.6807L7.14244 2.05025C5.67612 0.58884 3.30211 0.591296 1.83825 2.05781C0.375517 3.52413 0.379297 5.89946 1.84581 7.362L43.9362 49.3361L1.8443 91.3101C0.377974 92.7728 0.374194 95.1466 1.83674 96.6132C2.57056 97.3483 3.53192 97.7159 4.49328 97.7159C5.45218 97.7159 6.40976 97.3508 7.14225 96.6207L51.8967 51.9914C52.6029 51.2887 52.9992 50.3325 52.9992 49.3361C52.9992 48.3398 52.6018 47.3847 51.8967 46.6807Z")
