-
  var cards = [
    {
      image: 'images/card-img-1.jpg',
      title: 'Строительство зданий',
      text: 'Осуществляется от имени и в интересах лиц, участвующих в деле: сторон, третьих лиц, заявителей и иных заинтересованных лиц.',
      link: 'Подробнее',
      gradient: ' linear-gradient(180deg, #414141 -49.24%, rgba(65, 65, 65, 0) 120.35%), linear-gradient(0deg, #65C466 0%, rgba(37, 137, 249, 0) 23.16%)'
    },
    {
      image: 'images/card-img-2.jpg',
      title: 'Ремонт оборудования',
      text: 'Частичная или полная передача работ по поддержке, обслуживанию и модернизации ИТ-инфраструктуры в руки компаний.',
      link: 'Подробнее',
      gradient: ' linear-gradient(180deg, #414141 -49.24%, rgba(65, 65, 65, 0) 120.35%), linear-gradient(0deg, #65C466 0%, rgba(37, 137, 249, 0) 23.16%)'
    },
    {
      image: 'images/card-img-3.jpg',
      title: 'Курсы английского',
      text: 'Проверка финансово-экономической деятельности организации, проводимая аудитором.',
      link: 'Подробнее',
      gradient: ' linear-gradient(180deg, #414141 -49.24%, rgba(65, 65, 65, 0) 120.35%), linear-gradient(0deg, #65C466 0%, rgba(37, 137, 249, 0) 23.16%)'
    },
    {
      image: 'images/card-img-1.jpg',
      title: 'Строительство зданий',
      text: 'Осуществляется от имени и в интересах лиц, участвующих в деле: сторон, третьих лиц, заявителей и иных заинтересованных лиц.',
      link: 'Подробнее',
      gradient: ' linear-gradient(180deg, #414141 -49.24%, rgba(65, 65, 65, 0) 120.35%), linear-gradient(0deg, #65C466 0%, rgba(37, 137, 249, 0) 23.16%)'
    },
    {
      image: 'images/card-img-2.jpg',
      title: 'Ремонт оборудования',
      text: 'Частичная или полная передача работ по поддержке, обслуживанию и модернизации ИТ-инфраструктуры в руки компаний.',
      link: 'Подробнее',
      gradient: ' linear-gradient(180deg, #414141 -49.24%, rgba(65, 65, 65, 0) 120.35%), linear-gradient(0deg, #65C466 0%, rgba(37, 137, 249, 0) 23.16%)'
    },
    {
      image: 'images/card-img-3.jpg',
      title: 'Курсы английского',
      text: 'Проверка финансово-экономической деятельности организации, проводимая аудитором.',
      link: 'Подробнее',
      gradient: ' linear-gradient(180deg, #414141 -49.24%, rgba(65, 65, 65, 0) 120.35%), linear-gradient(0deg, #65C466 0%, rgba(37, 137, 249, 0) 23.16%)'
    },
    {
      image: 'images/card-img-1.jpg',
      title: 'Строительство зданий',
      text: 'Осуществляется от имени и в интересах лиц, участвующих в деле: сторон, третьих лиц, заявителей и иных заинтересованных лиц.',
      link: 'Подробнее',
      gradient: ' linear-gradient(180deg, #414141 -49.24%, rgba(65, 65, 65, 0) 120.35%), linear-gradient(0deg, #65C466 0%, rgba(37, 137, 249, 0) 23.16%)'
    },
    {
      image: 'images/card-img-2.jpg',
      title: 'Ремонт оборудования',
      text: 'Частичная или полная передача работ по поддержке, обслуживанию и модернизации ИТ-инфраструктуры в руки компаний.',
      link: 'Подробнее',
      gradient: ' linear-gradient(180deg, #414141 -49.24%, rgba(65, 65, 65, 0) 120.35%), linear-gradient(0deg, #65C466 0%, rgba(37, 137, 249, 0) 23.16%)'
    },
  ]

section.services
  .container
    .services__header 
      h2.services__header-title Предоставляемые услуги
      p.services__header-text 
        | Компания специализируется на оказании широкого спектра услуг как для корпоративных клиентов так и для частных лиц. Профессионализм и ответственность ключевые преимущества нашей компании.
    // Slider main container
    .services__container
      .services__slider.services__swiper-container.swiper-container
        .swiper-wrapper
          each item in cards
            .swiper-slide.services__card(style=`background: ${item.gradient}, url('${item.image}') no-repeat center/cover;`)
              span.services__card-title= item.title
              p.services__card-text= item.text 
              a.services__card-link(href="#")= item.link 
        .swiper-pagination 
      .swiper-button-prev.swiper-button-prev--services.button__slider
        img.button__slider-img(src="images/arrow-left.svg", alt="Arrow left")
        //- svg(width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__slider-img")
          //- path(d="M28.605 57.6421C44.388 57.6421 57.1826 44.8475 57.1826 29.0645C57.1826 13.2815 44.388 0.486865 28.605 0.486863C12.822 0.486862 0.0273972 13.2815 0.0273958 29.0645C0.0273945 44.8474 12.8219 57.6421 28.605 57.6421ZM14.8413 27.6982C14.8888 27.6455 14.939 27.5952 14.9918 27.5478L35.4044 9.17642C36.257 8.43881 37.5461 8.53186 38.2837 9.38441C39.0008 10.2133 38.9354 11.4604 38.1356 12.2097L19.409 29.0644L38.1356 45.9191C38.9584 46.6898 39.0005 47.9816 38.2297 48.8043C37.4804 49.6041 36.2332 49.6696 35.4044 48.9524L14.9918 30.5811C14.1542 29.8266 14.0869 28.5358 14.8413 27.6982Z" fill="#65C466")
      .swiper-button-next.swiper-button-next--services.button__slider
        img.button__slider-img(src="images/arrow-right.svg", alt="Arrow right")
        //- svg(width="59" height="58" viewBox="0 0 59 58" fill="none" xmlns="http://www.w3.org/2000/svg")
        //-   path(d="M29.4458 0.487061C13.6628 0.487061 0.868164 13.2817 0.868164 29.0647C0.868164 44.8476 13.6628 57.6423 29.4458 57.6423C45.2288 57.6423 58.0234 44.8476 58.0234 29.0647C58.0234 13.2817 45.2289 0.487061 29.4458 0.487061ZM43.2095 30.4309C43.162 30.4837 43.1117 30.5339 43.059 30.5814L22.6463 48.9527C21.7938 49.6903 20.5047 49.5973 19.7671 48.7447C19.0499 47.9159 19.1154 46.6688 19.9152 45.9194L38.6417 29.0648L19.9152 12.21C19.0924 11.4393 19.0503 10.1476 19.821 9.3248C20.5704 8.525 21.8176 8.45958 22.6463 9.17673L43.059 27.5481C43.8966 28.3025 43.9639 29.5933 43.2095 30.4309Z" fill="#65C466")
        